<% include admin_header.ejs %>

<div id="wrap_courses" style="text-align:center">
<h1>Cursos</h1>

<table style="margin:0 auto">
	<thead>
		<tr>
			<td>ID</id><td>Nombre</td><td>Temario</td>
		</tr>
	</thead>

	<tbody>

<% for(var i in cursos) { %>
	<tr>

		<td><%= cursos[i].id %></td>
		<td><%= cursos[i].nombre %></td>
		<td><%- cursos[i].temario %></td>
		<td><a href="courses/<%- cursos[i].id %>/show">Ver</a></td>	
		<td><a href="courses/<%- cursos[i].id %>/editar">Editar</a></td>	
		<td><a href="courses/<%- cursos[i].id %>/eliminar">Eliminar</a></td>		
	</tr>
<% } %>

	</tbody>
</table>